In [25]:
import os, subprocess
import json
import uproot
import awkward as ak
import numpy as np
from coffea import processor, util, hist
import pandas as pd
import pickle

In [26]:
lumis = {}
lumis['2016'] = 35.9
lumis['2017'] = 41.5
lumis['2018'] = 59.2

with open('xsec.json') as f:
  xs = json.load(f)

with open('pmap.json') as f:
  pmap = json.load(f)

In [27]:
year = '2016'
nfiles = len(subprocess.getoutput("ls infiles-split/"+year+"*.json").split())
outsum = processor.dict_accumulator()

In [28]:
nfiles = len(subprocess.getoutput("ls infiles-split/"+year+"*.json").split())
coffeadir_prefix = '/myeosdir/ggf-vbf/outfiles-ddb2/'+year+'/'

repickle = True
# Check if pickle exists, don't recreate it if it does
picklename = year+'/cutflow.pkl'
if os.path.isfile(picklename):
    repickle = False

In [29]:
if repickle:

    for n in range(1,nfiles+1):
    
        with open('infiles-split/'+year+'_'+str(n)+'.json') as f:
            infiles = json.load(f)
    
        filename = coffeadir_prefix+year+'_'+str(n)+'.coffea'
        if os.path.isfile(filename):
            out = util.load(filename)

            if n == 1:
                outsum['cutflow'] = out['cutflow']
                outsum['sumw'] = out['sumw']
            else:
                outsum['cutflow'].add(out['cutflow'])
                outsum['sumw'].add(out['sumw'])
                
            del out
        else:
            print('Missing file '+str(n),infiles.keys())
            #print("File " + filename + " is missing")  
            
    scale_lumi = {k: xs[k] * 1000 *lumis[year] / w for k, w in outsum['sumw'].items()}
    outsum['cutflow'].scale(scale_lumi, 'dataset')
    cutflow = outsum['cutflow'].group('dataset', hist.Cat('process', 'Process'), pmap)
    
    del outsum
    
    outfile = open(picklename, 'wb')
    pickle.dump(cutflow, outfile, protocol=-1)
    outfile.close()

/opt/conda/lib/python3.8/site-packages/coffea/hist/hist_tools.py:376: RuntimeWarning: Not all requested indices present in <Cat (name=dataset) instance at 0x7f496b812c10>
  warnings.warn(

In [30]:
# Read the histogram from the pickle file
templates = pickle.load(open(picklename,'rb'))

In [31]:
cutflow = templates.sum('genflavor').integrate('region',['signal-ggf'])
cutflow

In [32]:
cutflow.values()

{('ZH',): array([1.69485517e+03, 7.73572122e+01, 7.73572122e+01, 7.70869492e+01,
        2.59654957e+01, 2.59654957e+01, 1.47117306e+01, 8.90667586e+00,
        3.05196837e+00, 9.91901933e-01, 9.32026379e-01, 2.09791719e-01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('WH',): array([5.32754689e+03, 8.90047815e+01, 8.90047815e+01, 8.86599735e+01,
        2.67147250e+01, 2.67147250e+01, 1.36304529e+01, 1.18966360e+01,
        2.83318833e+00, 5.52071177e-01, 5.33091984e-01, 7.29746738e-02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ttH',): array([5.09479400e+03, 1.27240290e+03, 1.27240290e+03, 1.26830699e+03,
        3.65340660e+02, 3.65340660e+02, 1.36900888e+02, 4.14190620e+01,
        3.26922708e+01, 2.20052596e+01, 2.15349487e+01, 1.65390636e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('VBF',): array([6.10804330e+03, 4.42517159e+02, 4.42517159e+02, 4.41279648e+02,
        9.42177553e+01, 9.42177553e+01, 4.94904446e+01, 3.86980062e+01,
        3.80151255e+01, 3.67862798e+01, 2.21754729e+01, 5.75565233e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ggF',): array([3.36766985e+04, 1.24954005e+03, 1.24954005e+03, 1.24952215e+03,
        2.80014697e+02, 2.80014697e+02, 1.10315437e+02, 7.64493378e+01,
        7.64493378e+01, 7.64493378e+01, 7.38153870e+01, 1.84618477e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ggF-powheg',): array([5.71323662e+04, 2.01737857e+03, 2.01737857e+03, 2.01239966e+03,
        5.40400570e+02, 5.40400570e+02, 2.60028221e+02, 2.05305138e+02,
        2.01356937e+02, 1.96892854e+02, 1.83707455e+02, 5.11095125e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('QCD',): array([3.61026915e+08, 1.46787771e+08, 1.46787771e+08, 1.46381557e+08,
        2.68451296e+07, 2.68451296e+07, 6.45133059e+06, 5.75243506e+06,
        5.70941712e+06, 5.57860318e+06, 5.40278676e+06, 7.91011581e+03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('VV',): array([1.12614102e+06, 1.60088342e+04, 1.60088342e+04, 1.59397466e+04,
        4.72258320e+03, 4.72258320e+03, 2.56595853e+03, 2.26668333e+03,
        1.75903002e+03, 1.38444818e+03, 1.34159874e+03, 1.78085156e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('Wjets',): array([1.45293517e+07, 1.73791521e+06, 1.73791521e+06, 1.73131105e+06,
        3.78811612e+05, 3.78811612e+05, 1.40762382e+05, 1.27000169e+05,
        1.16530474e+05, 1.02913150e+05, 9.97833852e+04, 2.16047557e+02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('Zjets',): array([1.81248987e+06, 6.85003374e+05, 6.85003374e+05, 6.82351468e+05,
        1.52238384e+05, 1.52238384e+05, 6.18627812e+04, 5.32707394e+04,
        5.24296461e+04, 4.22567127e+04, 4.09347515e+04, 9.56858772e+02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('ttbar',): array([1.28413182e+07, 7.52384551e+05, 7.52384551e+05, 7.50007479e+05,
        2.05108373e+05, 2.05108373e+05, 7.67097217e+04, 3.77710336e+04,
        3.00633052e+04, 2.09922525e+04, 2.03684255e+04, 1.77227570e+02,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('singlet',): array([3.25008080e+06, 8.98441156e+04, 8.98441156e+04, 8.95178984e+04,
        2.33698601e+04, 2.33698601e+04, 1.15190733e+04, 5.36290718e+03,
        4.25655237e+03, 3.30953189e+03, 3.17019247e+03, 2.61079844e+01,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('data',): array([3.84371160e+08, 1.83297290e+08, 1.79813530e+08, 1.79425623e+08,
        2.41723080e+07, 2.41723080e+07, 6.88610200e+06, 6.05186000e+06,
        5.93738200e+06, 5.72104800e+06, 5.49494500e+06, 8.30100000e+03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 ('muondata',): array([4.0017229e+07, 3.8764040e+06, 3.8043940e+06, 3.7927630e+06,
        6.1365400e+05, 6.1365400e+05, 1.9115900e+05, 1.3168700e+05,
        1.1688300e+05, 9.8520000e+04, 9.4522000e+04, 7.9100000e+02,
        0.0000000e+00, 0.0000000e+00, 0.0000000e+00])}

In [33]:
df1 = pd.DataFrame([])

df1['ggF'] = cutflow.values()[('ggF',)]
df1['VBF'] = cutflow.values()[('VBF',)]
df1['WH'] = cutflow.values()[('WH',)]
df1['ZH'] = cutflow.values()[('ZH',)]
df1['ttH'] = cutflow.values()[('ttH',)]


df1
df1 = df1[:-3].astype('int')
df1
df1.index = ['nothing','trigger','lumimask','metfilter','minjetkin','jetid','n2ddt','antiak4btagMediumOppHem','met','noleptons','notvbf','ddbpass']
df1

                           ggF   VBF    WH    ZH   ttH
nothing                  33676  6108  5327  1694  5094
trigger                   1249   442    89    77  1272
lumimask                  1249   442    89    77  1272
metfilter                 1249   441    88    77  1268
minjetkin                  280    94    26    25   365
jetid                      280    94    26    25   365
n2ddt                      110    49    13    14   136
antiak4btagMediumOppHem     76    38    11     8    41
met                         76    38     2     3    32
noleptons                   76    36     0     0    22
notvbf                      73    22     0     0    21
ddbpass                     18     5     0     0     1

In [34]:
df1 = df1[4:-2]
df1.index = ['Jet kinematics','Jet ID','Jet $N_2^\text{DDT}$','Opp. hem. b veto','MET $<$ 140 GeV','No leptons']
df1.to_latex(buf=year+'/cutflow-sig.tex')
df1

                      ggF  VBF  WH  ZH  ttH
Jet kinematics        280   94  26  25  365
Jet ID                280   94  26  25  365
Jet $N_2^\text{DDT}$  110   49  13  14  136
Opp. hem. b veto       76   38  11   8   41
MET $<$ 140 GeV        76   38   2   3   32
No leptons             76   36   0   0   22

In [35]:
df2 = pd.DataFrame([])

df2['QCD'] = cutflow.values()[('QCD',)]
df2['Wjets'] = cutflow.values()[('Wjets',)]
df2['Zjets'] = cutflow.values()[('Zjets',)]
df2['VV'] = cutflow.values()[('VV',)]
df2['ttbar'] = cutflow.values()[('ttbar',)]
df2['singlet'] = cutflow.values()[('singlet',)]

df2 = df2[:-3].astype('int')
df2.index = ['nothing','trigger','lumimask','metfilter','minjetkin','jetid','n2ddt','antiak4btagMediumOppHem','met','noleptons','notvbf','ddbpass']
df2

,QCD,Wjets,Zjets,VV,ttbar,singlet
nothing,361026915,14529351,1812489,1126141,12841318,3250080
trigger,146787770,1737915,685003,16008,752384,89844
lumimask,146787770,1737915,685003,16008,752384,89844
metfilter,146381557,1731311,682351,15939,750007,89517
minjetkin,26845129,378811,152238,4722,205108,23369
jetid,26845129,378811,152238,4722,205108,23369
n2ddt,6451330,140762,61862,2565,76709,11519
antiak4btagMediumOppHem,5752435,127000,53270,2266,37771,5362
met,5709417,116530,52429,1759,30063,4256
noleptons,5578603,102913,42256,1384,20992,3309
notvbf,5402786,99783,40934,1341,20368,3170
ddbpass,7910,216,956,17,177,26

In [36]:
df2 = df2[4:-2]
df2.index = ['Jet kinematics','Jet ID','Jet $N_2^\text{DDT}$','Opp. hem. b veto','MET $<$ 140 GeV','No leptons']
df2.to_latex(buf=year+'/cutflow-bkg.tex')
df2

                           QCD   Wjets   Zjets    VV   ttbar  singlet
Jet kinematics        26845129  378811  152238  4722  205108    23369
Jet ID                26845129  378811  152238  4722  205108    23369
Jet $N_2^\text{DDT}$   6451330  140762   61862  2565   76709    11519
Opp. hem. b veto       5752435  127000   53270  2266   37771     5362
MET $<$ 140 GeV        5709417  116530   52429  1759   30063     4256
No leptons             5578603  102913   42256  1384   20992     3309